<footer>

    <div class="f-into">
        <div class="f-info-socials">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-info-brand"> Wanderlust Private Limited</div>
        <div class="f-into-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

    </div>
</footer>